In [1]:
from spacerocks import MPCHandler

In [2]:
# Create a new MPCHandler object and pass the path to the data directory where the MPC data files are stored
# The path can be specified as shown below, or if left blank, it will default to and make "~/.spacerocks/mpc" in your home directory
"""
mpc_data_path = "data/mpc"
handler = MPCHandler(mpc_data_path)
"""

handler = MPCHandler()

In [3]:
# Create a dataframe of all the Near-Earth Asteroids (NEAs) from the MPC data files
nea_df = handler.fetch_data(
    catalog="nea_extended", # https://minorplanetcenter.net/data details available catalogs
    orbit_type=None,  # None means get all types, and is the default
    storage_format="json",  # Options: "feather", "json", None: Default is "feather", None will get the data directly from the MPC without saving it locally
    output_format="dataframe" # Options: "dataframe", "rocks": Default is "dataframe", "rocks" returns a RockCollection 
)

# Available orbit_types:

# "Atira",
# "Aten", 
# "Apollo",
# "Amor",
# "Hungaria",
# "MBA",
# "Phocaea",
# "Hilda",
# "Jupiter Trojan",
# "Distant Object"

Using existing json file: /Users/thomasruch/.spacerocks/mpc/nea_extended.json.gz

In [4]:
nea_df.head()

,H,G,Epoch,M,Peri,Node,i,e,a,Principal_desig,orbit_type
0,10.41,0.15,2460600.5,86.66754,178.91030,304.27434,10.82773,0.222691,1.458181,A898 PA,Amor
1,15.59,0.15,2460600.5,148.45068,156.21553,183.85715,11.57526,0.546779,2.636157,A911 TB,Amor
2,13.79,0.15,2460600.5,340.19843,350.47424,110.42302,9.39880,0.571093,2.472525,A918 AA,Amor
3,9.18,0.15,2460600.5,6.98496,132.49616,215.49497,26.68673,0.532826,2.665299,A924 UB,Amor
4,17.37,0.15,2460600.5,271.70081,26.71763,171.26079,11.86849,0.434718,1.920154,1932 EA1,Amor

In [5]:
# Make a dataframe of all the Jupiter Trojans in the MPC and save it as a json 
jt_df = handler.fetch_data(
    catalog="mpcorb_extended",
    orbit_type="Jupiter Trojan",
    storage_format="json")

Using existing json file: /Users/thomasruch/.spacerocks/mpc/mpcorb_extended.json.gz

In [6]:
jt_df.head()

,H,G,Epoch,M,Peri,Node,i,e,a,Principal_desig,orbit_type
0,8.25,0.15,2460600.5,43.90867,133.98436,316.53929,10.31751,0.148450,5.212198,A906 DN,Jupiter Trojan
1,8.25,0.15,2460600.5,9.05119,308.59117,44.35145,22.06381,0.139696,5.206645,A906 UL,Jupiter Trojan
2,7.37,0.15,2460600.5,337.57832,179.74876,342.80146,18.15128,0.023911,5.274477,A907 CF,Jupiter Trojan
3,8.73,0.15,2460600.5,148.86038,343.97657,350.75593,4.52196,0.115835,5.169928,A908 FE,Jupiter Trojan
4,8.64,0.15,2460600.5,96.38488,337.47229,301.45814,8.89552,0.124572,5.207680,A917 SU,Jupiter Trojan

In [7]:
# Now if we want to access the 'mpcorb_extended' catalog again, it will search for the file 
# and load it from there, instead of downloading it again from the MPC

apollo_df = handler.fetch_data(
    catalog="mpcorb_extended",
    orbit_type="Apollo")

Using existing json file: /Users/thomasruch/.spacerocks/mpc/mpcorb_extended.json.gz

In [8]:
apollo_df.head()

,H,G,Epoch,M,Peri,Node,i,e,a,Principal_desig,orbit_type
0,16.55,0.15,2460400.5,344.75531,31.43692,87.95325,22.80165,0.826921,1.078088,1949 MA,Apollo
1,15.27,0.15,2460600.5,289.35927,277.00695,337.14978,13.33591,0.335622,1.245628,1951 RA,Apollo
2,14.28,0.15,2460600.5,196.26473,127.27204,274.20996,9.38162,0.436080,1.367918,1948 OA,Apollo
3,16.08,0.09,2460600.5,252.86869,286.03295,35.55651,6.35246,0.559872,1.470612,1932 HA,Apollo
4,15.46,0.15,2460600.5,173.83076,268.56970,345.99703,18.34949,0.606271,2.261465,1948 EA,Apollo

In [9]:
# We can also get the data in the form of a RockCollection object, either by passing the output_format parameter as "rocks" or by using the RockCollection class
from spacerocks import RockCollection

nea_rocks = RockCollection.from_mpc(
    catalog="nea_extended",
    download_data=False, # Set to True if you want to download the data from the MPC, default is False
    orbit_type=None, # None means get all types, and is the default 
)

trojan_rocks = handler.fetch_data(
    catalog="mpcorb_extended",
    orbit_type="Jupiter Trojan",
    output_format="rocks")

Using existing json file: /Users/thomasruch/.spacerocks/mpc/nea_extended.json.gz
Using existing json file: /Users/thomasruch/.spacerocks/mpc/mpcorb_extended.json.gz

In [10]:
nea_rocks

RockCollection: 37398 rocks

In [11]:
nea_rocks[0]

SpaceRock: A898 PA
position: [[-1.500756275489889, -0.8585296814655222, -0.32966598266748565]]
velocity: [[0.00407120689122351, -0.012713673993346573, -0.0007259415588509818]]
epoch: 2460600.5 UTC JD
reference_plane: J2000
origin: SSB

In [14]:
print(nea_rocks[0].name)
print(nea_rocks[0].a())
print(nea_rocks[0].e())
print(nea_rocks[0].inc())
print(nea_rocks[0].node())
print(nea_rocks[0].arg())
print(nea_rocks[0].mean_anomaly())

A898 PA
1.8759342161563977
0.2226905999999999
0.18897953901696607
5.310589062332683
3.122573800730808
1.0759230596679488

In [12]:
trojan_rocks[0]

SpaceRock: A906 DN
position: [[-3.7878925302929183, 3.859117251404559, 0.03560781498101552]]
velocity: [[-0.005982159057189606, -0.004843955519624676, -0.0013891672711222544]]
epoch: 2460600.5 UTC JD
reference_plane: J2000
origin: SSB

In [29]:
import pandas as pd

# You can also get all the detection data from the MPC for a specific object by passing its name with get_detections and the format(s) you want the data in 
# (ADES is the current MPC standard and default)
response = handler.get_detections("2021 CS10", formats=["ADES_DF", "OBS_DF", "XML"])
if response:
    ades_df = pd.DataFrame(response[0]['ADES_DF'])
    obs_df = pd.DataFrame(response[0]['OBS_DF'])
    xml_string = response[0]['XML']

In [28]:
ades_df

,Obstype,artsat,astcat,band,com,ctr,dec,decstar,delay,deltadec,...,rmstime,seeing,stn,subfmt,subfrm,sys,trkid,trksub,trx,unctime
0,optical,None,UNK,None,None,NaN,16.29042,None,None,None,...,None,None,535,M92,B1950.0,None,00000Y9-4x,None,None,None
1,optical,None,UNK,None,None,NaN,16.34764,None,None,None,...,None,None,535,M92,B1950.0,None,00000Y9-4y,None,None,None
2,optical,None,UNK,None,None,NaN,16.40589,None,None,None,...,None,None,535,M92,B1950.0,None,00000Y9-4z,None,None,None
3,optical,None,UNK,None,None,NaN,16.46408,None,None,None,...,None,None,535,M92,B1950.0,None,00000Y9-50,None,None,None
4,optical,None,UNK,None,None,NaN,16.84358,None,None,None,...,None,None,535,M92,B1950.0,None,00000Y9-51,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8026,optical,None,Gaia2,Ac,None,NaN,-29.321020,None,None,None,...,None,None,M22,A17,None,None,00000IMeQ4,A11dH8v,None,None
8027,optical,None,Gaia2,Ac,None,NaN,-29.321000,None,None,None,...,None,None,M22,A17,None,None,00000IMeQ4,A11dH8v,None,None
8028,optical,None,Gaia2,Ac,None,NaN,-29.320850,None,None,None,...,None,None,M22,A17,None,None,00000IMeQ4,A11dH8v,None,None
8029,optical,None,Gaia2,Ac,None,NaN,-29.320610,None,None,None,...,None,None,M22,A17,None,None,00000IMeQ4,A11dH8v,None,None
8030,optical,None,Gaia2,Ac,None,NaN,-29.320090,None,None,None,...,None,None,M22,A17,None,None,00000IMeQ4,A11dH8v,None,None