In [1]:
from spacerocks import MPCHandler

In [12]:
# Create a new MPCHandler object and pass the path to the data directory where the MPC data files are stored
mpc_data_path = "data/mpc"
handler = MPCHandler(mpc_data_path)

In [3]:
# Create a dataframe of all the Near-Earth Asteroids (NEAs) from the MPC data files
nea_df = handler.fetch_data(
    catalog="nea_extended", # https://minorplanetcenter.net/data details available catalogs
    orbit_type=None,  # None means get all types, and is the default
    storage_format="feather",  # Options: "feather", "json", None: Default is "feather", None will get the data directly from the MPC without saving it locally
    output_format="dataframe" # Options: "dataframe", "rocks": Default is "dataframe", "rocks" returns a RockCollection 
)

# Available orbit_types:

# "Atira",
# "Aten", 
# "Apollo",
# "Amor",
# "Hungaria",
# "MBA",
# "Phocaea",
# "Hilda",
# "Jupiter Trojan",
# "Distant Object"

Downloading data from https://www.minorplanetcenter.net/Extended_Files/nea_extended.json.gz
Converting and saving to data/mpc/nea_extended.feather

In [5]:
nea_df.head()

,H,G,Epoch,M,Peri,Node,i,e,a,Principal_desig,orbit_type
0,10.41,0.15,2460600.5,86.66754,178.91030,304.27434,10.82773,0.222691,1.458181,A898 PA,Amor
1,15.59,0.15,2460600.5,148.45068,156.21553,183.85715,11.57526,0.546779,2.636157,A911 TB,Amor
2,13.81,0.15,2460600.5,340.19843,350.47424,110.42302,9.39880,0.571093,2.472525,A918 AA,Amor
3,9.18,0.15,2460600.5,6.98496,132.49616,215.49497,26.68673,0.532826,2.665299,A924 UB,Amor
4,17.37,0.15,2460600.5,271.70081,26.71762,171.26079,11.86849,0.434718,1.920154,1932 EA1,Amor

In [4]:
# Make a dataframe of all the Jupiter Trojans in the MPC and save it as a json 
jt_df = handler.fetch_data(
    catalog="mpcorb_extended",
    orbit_type="Jupiter Trojan",
    storage_format="json")

Downloading data from https://www.minorplanetcenter.net/Extended_Files/mpcorb_extended.json.gz
Saving to data/mpc/mpcorb_extended.json.gz

In [6]:
jt_df.head()

,H,G,Epoch,M,Peri,Node,i,e,a,Principal_desig,orbit_type
0,8.25,0.15,2460600.5,43.90867,133.98436,316.53929,10.31751,0.148450,5.212198,A906 DN,Jupiter Trojan
1,8.25,0.15,2460600.5,9.05119,308.59117,44.35145,22.06381,0.139696,5.206645,A906 UL,Jupiter Trojan
2,7.37,0.15,2460600.5,337.57832,179.74876,342.80146,18.15128,0.023911,5.274477,A907 CF,Jupiter Trojan
3,8.73,0.15,2460600.5,148.86038,343.97657,350.75593,4.52196,0.115835,5.169928,A908 FE,Jupiter Trojan
4,8.64,0.15,2460600.5,96.38488,337.47229,301.45814,8.89552,0.124572,5.207680,A917 SU,Jupiter Trojan

In [8]:
# Now if we want to access the 'mpcorb_extended' catalog again, it will search for the file with correct file type in the data directory
# and load it from there, instead of downloading it again from the MPC

apollo_df = handler.fetch_data(
    catalog="mpcorb_extended",
    orbit_type="Apollo", 
    storage_format="json")

Using existing file: data/mpc/mpcorb_extended.json.gz

In [14]:
# We can also get the data in the form of a RockCollection object, either by passing the output_format parameter as "rocks" or by using the RockCollection class
from spacerocks import RockCollection

nea_rocks = RockCollection.from_mpc(
    mpc_data_path,
    catalog="nea_extended",
    download_data=False, # Set to True if you want to download the data from the MPC, default is False
    orbit_type=None, # None means get all types, and is the default 
)

trojan_rocks = handler.fetch_data(
    catalog="mpcorb_extended",
    orbit_type="Jupiter Trojan",
    output_format="rocks")

Using existing file: data/mpc/nea_extended.feather
Downloading data from https://www.minorplanetcenter.net/Extended_Files/mpcorb_extended.json.gz
Converting and saving to data/mpc/mpcorb_extended.feather

In [15]:
nea_rocks

RockCollection: 37374 rocks

In [16]:
nea_rocks[0]

SpaceRock: A898 PA
position: [[0.2942493203668297, 0.1656992160830529, -1.6474106896601086]]
velocity: [[0.011569440515950151, -0.006534241085923113, 0.004230659391554295]]
epoch: 2460600.5 UTC JD
reference_plane: J2000
origin: SSB

In [17]:
trojan_rocks[0]

SpaceRock: A906 DN
position: [[3.5301907953976985, 0.8086369056299544, -3.7509872225178564]]
velocity: [[0.0040090720489619714, -0.006565207826123325, 0.00246455500052765]]
epoch: 2460600.5 UTC JD
reference_plane: J2000
origin: SSB